global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend kubernetes_api
    bind {{ kubernetes_lb_ip }}:6443
    mode tcp
    default_backend kubernetes_api_backend

backend kubernetes_api_backend
    mode tcp
    balance roundrobin
    server controller1 {{ hostvars['controller1']['ansible_host'] }}:6443 check
    server controller2 {{ hostvars['controller2']['ansible_host'] }}:6443 check
    server controller3 {{ hostvars['controller3']['ansible_host'] }}:6443 check

frontend etcd
    bind {{ kubernetes_lb_ip }}:2379
    mode tcp
    default_backend etcd_backend

backend etcd_backend
    mode tcp
    balance roundrobin
    server controller1 {{ hostvars['controller1']['ansible_host'] }}:2379 check
    server controller2 {{ hostvars['controller2']['ansible_host'] }}:2379 check
    server controller3 {{ hostvars['controller3']['ansible_host'] }}:2379 check

listen stats
    bind *:9000
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /

