vrrp_instance VI_1 {
    interface {{ keepalived_interface }}
    state MASTER
    virtual_router_id {{ keepalived_vrouter_id }}
    priority {{ keepalived_priority }}
    virtual_ipaddress {
        {{ keepalived_vip }}
    }
}

